* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    /*
    background-image: radial-gradient(hsl(270 50% 10% / 95%), hsl(270 50% 5% / 98%));
    */
    background-image: radial-gradient(hsl(270 50% 10% / 95%), hsl(270 50% 5% / 98%)), url('/assets/compressed/grunge-texture-by-PhotoshopSupply2.jpg');
    background-size: cover;
}

body::after {
    content: "";
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: radial-gradient(transparent 70%, hsl(0 0% 5% / 30%) 90%);
    pointer-events: none;
}

#canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    mask-image: radial-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .7)), url('/assets/compressed/grunge-texture-seamless-PNG-by-PhotoshopSupply16.png');
    mask-size: 100vmax, 50%;
    mask-position: center;
}