.demo-thingy-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 10rem);
    grid-template-rows: repeat(auto-fit, 10rem);
    gap: 2rem;
    justify-content: center;
    align-content: center;
    padding: 3rem;
    min-height: 100vh;
}

.demo-thingy {
    display: block;
    width: 10rem;
    height: 10rem;
    border: 1px solid white;
    border-radius: .25rem;
    overflow: hidden;
}

.demo-thingy input {
    display: block;
    width: 100%;
    font-size: 1.25rem;
    padding: .25rem .5rem;
    text-align: center;
    font-family: inherit;
    border: none;
}


.demo-thingy canvas {
    display: block;
    background-color: hsl(var(--background-color, 0 0 0) / .2);
    transition: background-color .3s ease-out;
}

.demo-thingy:hover canvas {
    display: block;
    background-color: hsl(var(--background-color, 0 0 0) / .6);
}